################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/finalGame/finalGame/finalGame/bin/Windows/x86/Debug/app.publish
/finalGame/finalGame/finalGame/bin/Windows/x86/Debug/finalGame.application
